<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML><HEAD><TITLE>banner</TITLE>
<STYLE TYPE="text/css">BODY { font-family: Arial, Helvetica, sans-serif; margin: 6px 10px; background: #1f3a5f; color: white; } A { color: #cfe0ff; }</STYLE>
</HEAD>
<BODY>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" ID="{{ rid() }}">
<TR>
<TD><FONT SIZE="4"><B>{{ t.display_name }}</B></FONT></TD>
<TD ALIGN="right"><FONT SIZE="2">AcmeCore {{ t.version }} &nbsp;|&nbsp; Operator: {{ operator }} &nbsp;|&nbsp; {{ today }} &nbsp;|&nbsp;
<A HREF="/core/signoff" TARGET="_top">Sign Off</A></FONT></TD>
</TR>
</TABLE>
</BODY></HTML>
